<h1>Velkomin á umsjónarsíðu boltadeildarinnar!</h1>
<a href="/skra">Skrá leik</a>
<form action="/logout" method="post">
  <button type="submit">Skrá út</button>
</form>

<%- include('admin-leikir') -%>
